<div class="d-flex align-items-end mb-4">
  <app-page-breadcrumb title="Marketing Dashboard" subTitle1="Insights" subTitle2="Dashboards"/>

  <app-statistic-with-chart class="ms-auto"/>
</div>

<div class="main-content">

  <div class="row sortable-off">
    @for (item of statistics; track $index) {
      <div class="col-md-12 col-lg-6 col-xl-3">
        <app-statistic-card [item]="item"/>
      </div>
    }
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-live-feeds/>
    </div>
    <div class="col-xl-6">
      <app-returning-target/>
    </div>
    <div class="col-xl-6">
      <app-efficiency-metrics/>
    </div>
    <div class="col-xl-12">
      <app-sales-performance/>
    </div>
  </div>
</div>

