<a
  routerLink="/dashboard"
  class="app-logo flex-shrink-0 d-flex align-items-center text-decoration-none"
>
  <div class="logo-blob-wrapper d-flex align-items-center gap-2">
    <div class="logo-backdrop-inline">
      <div class="blobs">
        <svg viewBox="0 0 1200 1200" aria-hidden="true" focusable="false">
          <g class="blob blob-1">
            <path d="M 100 600 q 0 -700, 500 -500 t 500 500 t -500 500 T 100 600 z" />
          </g>
          <g class="blob blob-2">
            <path d="M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z" />
          </g>
          <g class="blob blob-3">
            <path d="M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z" />
          </g>
          <g class="blob blob-4">
            <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z" />
          </g>
          <g class="blob blob-1 alt">
            <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z" />
          </g>
          <g class="blob blob-2 alt">
            <path d="M 100 600 q 100 -600, 500 -500 t 400 500 t -500 500 T 100 600 z" />
          </g>
          <g class="blob blob-3 alt">
            <path d="M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z" />
          </g>
          <g class="blob blob-4 alt">
            <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z" />
          </g>
        </svg>
      </div>
    </div>
    <span class="logo-text fw-bold text-white">
      {{ brandMain() }}
      <span class="text-white-50 fw-normal">{{ brandSecondary() }}</span>
    </span>
  </div>
</a>
